
// This stylesheet is used for storing variables
// and importing Compass Plugins.
//
// View 'screen.scss' for website styling.

// Import Compass plugins
@import "susy"; // susy.oddbird.net

// Susy variables
$total-columns: 12;
$column-width: 4em;
$gutter-width: 1em;
$grid-padding: $gutter-width;
