<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!-- View the "Responsive Rules" section in assets/screen.scss for more viewport rules. -->
    <meta name="viewport" content="initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="<%= data.main.description %>">

    <title>
    <%=
      # Display title as "Page Title – Site Title" unless 'title' frontmatter is missing.
      if current_page.data.title
        current_page.data.title + " &ndash; " + data.main.title
      else
        data.main.title
      end
    %>
    </title>

    <link rel="shortcut icon" href="/assets/img/favicon.png">
    <link rel="stylesheet" href="/assets/css/screen.css">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
