---
title: About
---

<div class="container">
	<section class="section-about">
		<h1>About</h1>

		<p><%= data.main.title %> is a 24-hour gaming marathon to raise funds for the <a href="http://childsplaycharity.org/">Child's Play Charity</a> organization.</p>

		<p>This event was put together by <%= data.main.group %> &ndash; <a href="http://twitter.com/sil3ntscript3r">Matthew "Sil3nt" Jones</a> and his brother Travis Jones &ndash; and will take place at around 3:00 PM (EST) on Friday, January 31st and run until Saturday, February 1st.</p>

		<p>Follow on <a href="http://twitter.com/sil3ntscript3r">Twitter</a> for updates when the stream will be going live!</p>
	</section>
</div>
