---
title: Home
---

<section role="main" class="main" id="stream">
	<div class="container-expanded">
		<div class="video-player">
			<object class="twitch-embed-stream" height="100%" width="100%" type="application/x-shockwave-flash" data="http://www.twitch.tv/widgets/live_embed_player.swf?channel=thechestoberries" bgcolor="#000000"><param name="allowFullScreen" value="true" /><param name="allowScriptAccess" value="always" /><param name="allowNetworking" value="all" /><param name="movie" value="http://www.twitch.tv/widgets/live_embed_player.swf" /><param name="flashvars" value="hostname=www.twitch.tv&amp;channel=thechestoberries&amp;auto_play=false&amp;start_volume=50" /></object>

			<iframe class="twitch-embed-chat" height="100%" width="100%" frameborder="0" scrolling="no"src="http://twitch.tv/chat/embed?channel=thechestoberries&amp;popout_chat=true"></iframe>
		</div>
	</div>

	<div class="container">
		<div class="donation-widgets">

		</div>

		<div class="social">

		</div>
	</div>
</section>

<section class="about" id="about">
	<div class="container">
		<h2>About</h2>

		<p><%= data.main.title %> is a 24-hour gaming marathon to raise funds for the <a href="http://childsplaycharity.org/">Child's Play Charity</a> organization. This event was put together by <%= data.main.hosts %> &ndash; <a href="http://twitter.com/sil3ntscript3r">Matthew "Sil3nt" Jones</a> and his brother Travis &ndash; and will take place at around 3:00 PM (EST) on Friday, January 31st and run until Saturday, February 1st.</p>

		<p>Follow on <a href="http://twitter.com/thechestoberries">Twitter</a> for updates when the stream will be going live!</p>
	</div>
</section>

<section class="guidelines" id="guidelines">
	<div class="container">

	</div>
</section>
