
<section role="main" class="main" id="stream" data-stellar-background-ratio="0.5">
	<div class="container-expanded">
		<div class="video-player">
			<!-- I would use autoplay=false for this, but if you miss the play
			     button in the center it will take you to the Twitch page. -->
			<object class="twitch-embed-stream" height="100%" width="100%" type="application/x-shockwave-flash" data="http://www.twitch.tv/widgets/live_embed_player.swf?channel=<%= data.main.hosts_uri %>" bgcolor="#000000"><param name="allowFullScreen" value="true" /><param name="allowScriptAccess" value="always" /><param name="allowNetworking" value="all" /><param name="movie" value="http://www.twitch.tv/widgets/live_embed_player.swf" /><param name="flashvars" value="hostname=www.twitch.tv&amp;channel=<%= data.main.hosts_uri %>&amp;auto_play=true&amp;start_volume=50" /></object>

			<iframe class="twitch-embed-chat" height="100%" width="100%" frameborder="0" scrolling="no" src="http://twitch.tv/chat/embed?channel=<%= data.main.hosts_uri %>&amp;popout_chat=true"></iframe>
		</div>
	</div>

	<div class="container">
		<div class="donation-widgets">

		</div>

		<div class="social">

		</div>
	</div>
</section>
